<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
<h1>Lista de Alunos</h1>
<a href="/alunos/create">Novo Aluno</a>
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.nome}">Nome</td>
        <td th:text="${aluno.email}">Email</td>
        <td>
            <a th:href="@{/alunos/view/{id}(id=${aluno.ra})}">Ver</a> |
            <a th:href="@{/alunos/edit/{id}(id=${aluno.ra})}">Editar</a> |
            <a th:href="@{/alunos/delete/{id}(id=${aluno.ra})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>